body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.event-hero {
    text-align: center;
    padding: 5rem 2rem;
    background: linear-gradient(135deg, #7e7e7e, #d1d1d1);
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.event-hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    padding: 3rem;
}

.event-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.event-card:hover {
    transform: translateY(-10px);
}

.event-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.card-content {
    padding: 1.5rem;
    text-align: center;
}

.card-content h3 {
    margin-bottom: 1rem;
    color: #333;
}

.card-content p {
    margin-bottom: 0.5rem;
    color: #666;
}

.event-btn {
    background-color: #6c757d;
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.event-btn:hover {
    background-color: #5a6268;
}


.event-h1 {
    font-size: 2.7rem;
    margin: 0;
    color: #333;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh; 
}




.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 4rem auto;
    overflow: hidden;
    border-radius: 15px;  
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);  
}


.slides {
    display: none;
}

.slide-img {
    width: 100%;
    height: 400px;
    object-fit: cover;  
    border-radius: 10px; 
}


.prev, .next {
    position: absolute;
    top: 50%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    z-index: 1000;
    border-radius: 50%; 
    transition: background-color 0.3s ease;
}

.prev {
    left: 10px;
    transform: translateY(-50%);
}

.next {
    right: 10px;
    transform: translateY(-50%);
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width: 768px) {
    .slide-img {
        height: 300px; 
    }
    .prev, .next {
        font-size: 25px; 
        padding: 12px;
    }
}
