body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.guide-details {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; 
}

.guide-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.guide-info .guide-detail-img {
    margin-right: 30px;
}

.guide-info .guide-detail-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.guide-description {
    flex: 1;
}

.guide-description h2 {
    font-size: 24px;
    color: #333;
}

.guide-description p {
    font-size: 16px;
    color: #555;
}

.available-times {
    margin-bottom: 30px;
}

.available-times h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.available-times ul {
    list-style: none;
    padding: 0;
}

.available-times li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

.reservation-form {
    margin-top: 20px;
}

.reservation-form h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.reservation-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.reservation-form input, .reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.reservation-form .guide-reserve-btn {
    width: 100%;
    padding: 12px;
    background-color: #574f4f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: -2px;
}

.reservation-form .guide-reserve-btn:hover {
    background-color: #333;
}

.reservation-form input[type="date"], .reservation-form select {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    box-sizing: border-box;
}

.filter {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.filter label {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

.filter select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    cursor: pointer;
}


